
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top" [src]="bien.image" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{bien.title | uppercase}}</h5>
      <p class="card-text">{{bien.description | summarize:50}}</p>
      <hr>
      <span class="float-left btn btn-outline-danger disabled btn-sm">{{bien.price | separator: '.'}} $ </span>
      <span>vente: {{bien.sale}}</span>
      <span class="btn btn-sm text-center disabled">Il y a {{bien.createAt | timeLeft}}</span>
      <a href="#" class="btn btn-sm float-right btn-primary" [routerLink]="['/biens', bien.id]" > Réserver</a>
    </div>
  </div>
